%bg-general {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    margin: 20px 10px;
    
};

%btn-general{
    background-color: rgb(255, 182, 193);
    border: none;
    color: black;
    padding: 5px 10px;
    
};

