
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

$fuente-subtitulos: "Raleway", sans-serif;
$tamano-subtitulos: 4em;
$margen-header: 0;
$tamano-subtitulos-mobile: 45px;
$tamano-fuente-mobile: 25px;
$margen-header-mobile: 14vh;